

<div>
  <nav id="nav-bar">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo" id="title">Some Title</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="nav-bar-element" href="sass.html">Why?</a></li>
        <li><a class="nav-bar-element" href="badges.html">Pricing</a></li>
        <li><a class="nav-bar-element" href="collapsible.html">Contact</a></li>
      </ul>
    </div>
  </nav>
  <!-- <div class="container">
    <div>
      <div class="col s12 m7" id="title-grab">Get your life in <div class="grab-word">control</div> and find more time to be <div class="grab-word">yourself</div></div>
    </div> -->
  </div>

  <div class="row valign-wrapper">
    <div class="col s12 m5 l5">
      <div class="valign-wrapper center-align login-box">
        <div class="col card hoverable s10 m10 l10 pull-s1 pull-m1 pull-l1">
          <login *ngIf="showLogin"></login>
          <register *ngIf="showRegister"></register>
          <a (click)="showRegisterForm()" *ngIf="showLogin" type="button" id="sign-up" class=" login-font">Sign up here</a>
          <a (click)="showLoginForm()" *ngIf="showRegister" type="button" id="sign-up" class="login-font">Login here</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l6">
        <div class="" id="title-grab">Get your life in <div class="grab-word">control</div> and find more time to be <div class="grab-word">yourself</div></div>
    </div>
  </div>